*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.fl{float: left;}
.fr{float: right;}
.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url("images/im1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 100%;
    height: 100vh;
    background-color: #0a193dc4;
}
.sub-header{
    width: 100%;
    background-color: #08192c83;
    position: fixed;
    top: 0;
}
.top-header{
    width: 80%;
    height: 80px;
    margin: auto;
}
.logo{
    width: 30%;
}
.logo p{
    padding: 22px 5% 0 0;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.logo p span{color: #0701a5;}
.logo h3{
    color: #cecccc;
    font-size: 10px;
    margin-left: 5%;
}
.nav{
    width: 70%;
    margin-top: 10px;
}
.nav ul{
    text-align: right;
    margin-top: 20px;
}
.nav ul li{
    display: inline;
    margin-left: 1%;
}
.nav ul li a{
    text-decoration: none;
    padding: 20px 1%;
    font-size: 16px;
    color: #fff;
}
.nav ul li a:hover{color: #0701a5;}
.home{color: #0701a5;}
.sin{
    background-color: #0701a5;
    padding: 20px 4%;
    border-radius: 30px;
}
.sin:hover{
    color: #0800ff;
    background-color: #08192c;
    border: 1px solid #04244983;
}
.bttm{
    width: 80%;
    margin: auto;
}
.btn-head{
    width: 50%;
    margin-top: 200px;
}
.btn-head h1{
    text-align: center;
    color: #FBFDFC;
    font-size: 40px;
    margin-top: 50px;
}
.btn-head h1 span{color: #0b04df;}
.btn-head h5{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    color: rgb(230, 230, 230);
    font-weight: bold;
    margin-top: 15px;
}
.bcom{
    width: 40%;
    height: 50px;
    background-color: #0701a5;
    margin-left: 5%;
    margin-top: 25px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.bcom:hover{
    background-color: #08192c;
    color: #0701a5;
}
.bcom p{
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
#form{
    width: 70%;
    height: 400px;
    margin-left: 30%;
    background-color: #08192ce5;
    border-radius: 10px;
    display: none;
}
#form h2{
    padding: 15px 0%;
    text-align: center;
    color: #0701a5;
    border-radius: 10px 10px 0 0;
    background-color: rgba(8, 25, 44, 0.911);
}
#form p{
    text-align: center;
    margin-top: 20px;
}
.inpt{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
    color: #706868;
    font-size: 16px;
}
.inpt::placeholder{
    color: #0902da;
    font-size: 16px;
}
.log{
    width: 60%;
    height: 40px;
    background-color: #0701a5;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    outline: none;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 10px rgb(1, 4, 8);
    cursor: pointer;
}
.log:hover{
    background-color: #0b04df;
    color: #08192c;
}
#form p i{
    font-size: 20px;
    padding: 10px;
    color: #fff;
    margin-right: 5%;
    cursor: pointer;
    border-radius: 180px;
}
.bg1{
    background-color: rgb(17, 20,211);
}
.bg2{background-color: #248ddd;}
.bg3{background-color: #e93d26;}