*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
body{background-color: #f1f1f1;}
.toggle {
  font-size: 30px;
  color: white;
  float: left;
  line-height: 45px;
  margin-left: 5%;
  cursor: pointer;
  display: none;
}
nav{
background: #000000;
height: 45px;
width: 100%;
}
ul{
    float:left;
    margin-left: 5%;
}
.socialtop{
    float: right;
    margin-right: 5%;
}
ul li{
    margin:0;
    padding:0;
    position:relative;
    display:inline-block;
    font-size:16px;
}
ul a{
font-weight: 400;
padding:15px;
line-height: 45px;
color: #fff;
font-size:12px;
text-transform:uppercase;
text-decoration: none;
}
ul li:first-child{
    background:#0701a5;
}
ul li:hover{
background:#0701a5;
color:#fff;
}
ul li a:hover{color:#fff;}

.top-social a {
padding:13px;
color:#fff;
}
.top-social {
padding: 14px 15px;
}
.top-social a:hover {
color:#0701a5;
}
@media screen and (max-width: 1052px){
     .toggle{
        display: block;
    }
  ul{
      z-index: -1;
      margin-top:-15px;
    position: fixed;
    top: -400px;
    right: 0;
    left: 0;
    width:200px;
    background: #222222;
    display: inline-block;
    transition: top .4s;
    margin-left: 0;
  }
  ul.show{
    top: 60px;
  }
  ul li{
      top: 0;
      width: 100%;
      float: left;
    text-align: center;
  }
}

@media screen and (max-width:500px){
  ul{
    width:100%;
  }
  
}
