*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.header{
	width: 100%;
	padding:0 2%;
	height: 60px;
	background-color: #0701a5;
}

.header img{
	margin: 15px;
}

.container-banner{
	width: 100%;
	padding:0 2%;
	height: 557px;
	background-image:url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
}

.container-banner > .center{
	height: 100%;
}

.form{
	padding:25px;
	width: 400px;
	height: calc(100% + 30px);
	float: right;
	position: relative;
	top:-10px;
	border-width: 10px;
	border-color: rgba(120,120,120,0.5);
	border-style: solid;
	background-color: white;
	background-clip:padding-box;
	/*background-origin tem o mesmo conceito porém serve para imagens.*/
}

.form h2{
	font-weight: normal;
	color: #999999;
	font-size: 21px;
}

.input-container{
	margin-top:18px;	
}

.input-container span{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
}

.form p{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	margin:20px 0;
}

.input-container input[type=text]{
	margin-top:8px;
	width: 344px;
	height: 55px;
	padding: 8px 10px 8px 10px;
	border:1px solid #ccc;
}

.input-container input[type=text]:focus{
	outline: 0;	
}

.form .input-submit-container{
	text-align: center;
}

.form input[type=submit]{
	color: white;
	font-size: 25px;
	width: 280px;
	height: 56px;
	display: inline-block;
	background-color: #0701a5;
	border-top:0;
	border-right: 0;
	border-left: 0;
	cursor: pointer;
	border-bottom: 5px solid #008000;
}

.form input[type=submit]:hover{
	background-color: #008000;
}

.container-list{
	padding:30px;
	margin-top:100px;
	float: left;
	width: 519px;
	height: 270px;
	background-color: rgba(7,1,165,0.5);
}

.container-list ul{
	list-style-position: inside;
}

.container-list ul li{
	margin-top:18px;
	color: white;
}


.container-2{
	padding:40px 2%;
	background-color: #ddd;
	text-align: center;
}

.container-2 .img-sidebar img{
	position: absolute;
	bottom: -220px;
	left: 50px;
    width: 180px;
    height: 180px;
    border:8px solid black;
    border-radius: 50%;
}

.container-2 h2{
	font-weight: normal;
}

.container-2 p{
	width: 100%;
	max-width: 768px;
	margin:15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow{
	position: relative;
	top:60px;
	left:50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
}

.section-1{
	padding:90px 2%;
}

.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top:40px;
	text-align: center;
}

.container-single{
	float: left;
	width: 33.3333%;
	padding:30px;
}


.container-single p{
	display: inline-block;
	text-align: justify;
	padding:10px;
}

.container-single img{
	width:70px;
}

.footer{
	/*clear:both;*/
	border-top:2px solid #888888;
	padding:20px 0;
	text-align: center;
	color: #888;
}

.footer p{
	margin-top:8px;
}


@media screen and (max-width: 1024px){
	.header{
		height: auto;
		width: 100%;
		padding:15px 0;
		text-align: center;
	}

	.header img{
		margin:0;
	}

	.container-list{
		padding:30px 0;
		width: 40%;
		float: left;
		display: inline-block;
		max-width: 500px;
		height: auto;
	}

	.container-banner{
		width: 100%;
		padding:40px 2%;
		height: auto;
		text-align: center;
	}

	.container-2 .img-sidebar img{
		position: absolute;
		bottom: -220px;
		left: 50px;
	    width: 180px;
	    height: 180px;
	    border:8px solid black;
	    border-radius: 50%;
	}

	.form{
		max-width: 400px;
		padding:10px;
		width: 60%;
		height: 100%;
		float:right;
		top:0;
	}

	.input-container input[type=text]{
		width: 100%;
		height: 55px;
	}


	.form input[type=submit]{
		max-width: 280px;
		height: 56px;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.container-2{
		padding-right: 4%;
		padding-left: 4%;
	}
	.container-list{
		margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
	}

	.form{
		float: none;
		display: inline-block;
		width: 90%;
		margin-top:30px;
	}

	.container-single{
		float: none;
		display: inline-block;
		width: 100%;
		max-width: 600px;
		padding:30px 0;
	}
}