*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(225,225,225);
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{margin-top: 10px;}

.logo{
    float: left;
}

.logo img{
    max-width: 100%;
}

.menu{
    margin-top: 20px;
    float: right;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin: 0 15px;
}

.menu a.btn-cta{
    background: #30851d;
    color: white;
    font-size: 16px;
    padding: 8px 25px;
}

section.top{
    background: white;
    padding: 30px 0;
}

.top-text{
    margin-top: 20px;
    float: left;
    width: 50%;
    color: #11223f;
    padding: 0 20px;
}

.top-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.top-text p{
    font-size: 20px;
}

.top-img{
    float: left;
    width: 50%;
}

.top-img img{max-width: 100%;}

/*Testimonials*/

section.testimonials{
    padding: 30px 0;
}

section.testimonials > .center{
    display: flex;
    flex-wrap: wrap;
}

.single-testimonials{
    background-color: white;
    background-image: url('../images/quote.png');
    background-size: 55px 40px;
    background-position: calc(100% - 10px) 10px;
    background-repeat: no-repeat;
    padding: 50px;
    margin-bottom: 10px;
    width: 45%;
    margin-right: 5%;
}

.single-testimonials p{
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.single-testimonials span{
    color: green;
    font-weight: bold;
    font-size: 11px;
}

section.about{
    padding: 20px 0;
}

.about-title h2{
    color: black;
    padding-bottom: 20px;
    border-bottom: 3px solid #2bb222;
    display: inline-block;
    padding-right: 20px;
}

.single-about{
    float: left;
    width: 33.3%;
    padding: 20px;
}

.single-title{
    display: flex;
}

.single-title i{
    background-color: #2bb222;
    width: 30%;
    position: relative;
    padding-top: 20px;
    color: white;
    text-align: center;
}

.single-title h3{
    color: black;
    background-color: #f1f6f1;
    width: 70%;
    padding: 20px 30px;
    margin: 0;
    font-size: 22px;
}

.content-about{
    background: white;
    padding: 30px;
    color: black;
}

footer{
    background-color: #effeee;
    text-align: center;
    color: white;
    padding: 30px 0;
}

footer i{
    color: #515151;
    font-size: 18px;
    margin: 0 15px;
}

@media screen and (max-width: 768px){

    .single-about{
        width: 100%;
    }

    .single-testimonials{
        width: 100%;
        margin-right: 0;
    }
    .top-text,
    .top-img{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 580px){
    .menu .btn-cta{
        display: block;
        margin-top: 10px;
    }
}