*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

html,body{
	height: 100%;
	background: #FAF9FC;
}

.clear{clear: both;}

div.sidebar{
	background: #2D3035;
	height: 100%;
	width: 300px;
	float: left;
}

div.top{
	background: #26282D;
	text-align: center;
	padding: 20px 10px;
}

div.top h3{
	color: white;	
}

div.menu{
	padding: 30px;
}

div.menu ul{list-style-type: none;}

div.menu li{
	font-size: 18px;
	color: #717171;
	margin-bottom: 25px;
}

div.menu ul li a{
	font-size: 18px;
	color: #717171;
	text-decoration: none;
}

div.menu li:hover i{
	transition: 0.6s;
	color: blue;
}

div.menu li:hover a{
	transition: 0.6s;
	color: white;
}

/*
	FINAL SIDEBAR
*/

div.main-content{
	float: left;
	width: calc(100% - 300px);
	height: 100%;
}

header{
	height: 90px;
	background: white;
	padding: 20px 15px;
	border-bottom: 2px solid #ccc;
}

.search-field{
	float: right;
}

.icon-search{
	background: #D6D6D6;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: middle;
}

.icon-search i{position: relative;top: 5px;}

.search-field form{
	vertical-align: middle;
	display: inline-block;
}

.search-field input[type=text]{
	width: 200px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border-left: 0;
	border-top: 1px solid rgb(220,220,220);
	border-right: 1px solid rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);
	padding-left: 10px;
	font-size: 16px;
}

.search-field input[type=text]:focus{
	outline: 0;
}

.icon-alert{
	cursor: pointer;
	background: #FBEDEF;
	width: 30px;
	height: 30px;
	margin-right: 28px;
	float: right;
	text-align: center;
	position: relative;
}

.icon-alert p{
	position: absolute;
	left: -8px;
	top: -8px;
	display: inline-block;
	background: #ED7387;
	color: white;
	padding: 3px;
	font-size: 12px;
}

.icon-alert i{
	line-height: 30px;
	font-size: 18px;
	color: #ED7387;
	font-weight: bold;
}

.name-user{
	float: left;
}

.name-user h2{
	margin-top: 8px;
	font-weight: normal;
	font-size: 23px;
	color: #A7A7A7;
	cursor: pointer;
}

.name-user{

}

.content1{
	float: left;
	width: 70%;
	padding: 30px;
	overflow-y: auto;
	height: calc(100% - 90px);
}

.panel{
	margin-bottom: 10px;
	padding: 30px;
	width: 100%;
	float: left;
	border: 2px solid #EBEBEB;
	background: white;
}

.panel h2{
	color: #7F7F7F;
	font-size: 24px;
	font-weight: normal;
}

.panel p{
	font-size: 17px;
	color: #B2B2B2;
	margin-top: 10px;
}

.latest-activities{
	width: 30%;
	background: #EAEBEB;
	padding: 20px 40px;
	float: left;
	height: calc(100% - 90px);
	overflow-y: auto;
}

.activities-top h2{
	color: #7F7F7F;
	font-size: 23px;
	font-weight: normal;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}


.register-activity{
	position: relative;
	padding: 15px 10px;
	border-left: 1px solid #BBBBBB;
}

.circle-activity{
	position: absolute;
	left: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #E9EBEB;
	border: 1px solid #CCCCCC;
}

.register-activity h2{
	color: #BBBBBB;
	font-size: 19px;
	font-weight: normal;
}

.register-activity p{
	color: #B2B2B2;
	font-size: 15px;
}

@media screen and (max-width: 768px)
{
	.latest-activities{display: none;}
	.content1{width: 100%;}
	.panel{width: 100% !important;}
	.sidebar{display: none;position: relative;z-index: 9999;}
	div.main-content{
		width: 100%;
		position: absolute;left: 0;top: 0;
	}
	div.menu li{
		margin-bottom: 25px;
	}
}