

            /*corpo*/

            @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

            body{

                font-family: "Rubik", sans-serif;
                background-color: white;/*background_color*/
                color:white;/*primary_color*/
                overflow-x: hidden;
            }

            .pagination-controls{
                color:white;/*primary_color*/
                font-size: 40px;

            }

            .card-color{
                color:white;/*card_color*/
                background-color: black;/*second_background_color*/
            }

             .navbar-toggler{
                background-color: white!important;/*botÃ£o menu responsivo*/
             }

            .cabecalho-primary-color{
                color: white;/*cabecalho_primary_color*/
            }

            .sidenav a:hover{
                color:red;/*cabecalho_secondary_color*/
            }



            .article-content .link {
                color: white;/*secondary_color*/
            }

            .cabecalho-background-color{
                background-color: black;/*cabecalho_background_color*/
            }

            #divBusca{
                background-color:black ;/*search_background_color*/
            }

            .color-txtBusca{
                color: white;/*search_color*/
            }

            #txtBusca,
            #txtBusca:focus,
            #txtBusca:active {
              outline: none !important;
              -webkit-box-shadow: none !important;
              box-shadow: none !important;
              border-radius: 15px;
              border: none !important;
              margin: 0 10px;
            }

            .button-color{
                background-color: red;/*button_color*/
                color:black;/*button_font_color*/
            }

            .button-color:hover, .button-color a:hover{
                color:red;/*cabecalho_secondary_color*/
            }

            .comment-link-btn, .pesquisa-link{
                color: red;/*button_color*/
            }

            .comment-link-btn:hover, .content-hover-color:hover, .cabecalho-primary-color:hover, .pesquisa-link:hover{
                color:red;/*cabecalho_secondary_color*/
            }

            footer{
                background-color:black;/*rodape_background_color*/
                color:white;/*rodape_primary_color*/
            }

            .bg-login{
                background-color:#3a3a3a;/*login_background_color*/
            }

            .color-login{
                color:white;/*login_primary_color*/
            }

            .course-primary-color{
                color:white;/*course_primary_color*/
            }

            .course-second-color{
                color:white;/*course_second_color*/
            }

            .course-card-color{
                color:white;
                background-color:black;/*course_card_color*/
            }

            .course-second-card-color{
                color:white;/*course_module_content_color*/
                background-color:black;/*course_second_card_color*/

            }

            .course-button{
                color:black;/*course_button_color*/
                background-color:red;/*course_button_background*/
            }

            .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
                color:white;
            }

            .project-tab .nav-link {
                color:white;
            }

            #sectionNavs li a:hover{
                color:red;/*cabecalho_secondary_color*/
            }

        