*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{height:100%;}

/*
Classes Auxiliares
*/

.center{
	margin: 0 auto;
	max-width: 1280px;
	padding:0 2%;
}

.clear{clear: both;}

/***/

.layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);
	z-index: 1;
}

section.main{
	position: relative;
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	padding:15px 0;
	min-height: 800px;
}

section.main header{
	position: relative;
	z-index: 2;
	padding-bottom: 10px;
	border-bottom:1px solid white;
}

.icons-social{
	float: right;
}

.icons-social a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin:0 15px;
}

.logo{
	margin-top: 20px;
	float: left;
	color: white;
	font-size: 23px;
	font-weight: bold;
}

nav.mobile{
	display: none;
	float: right;
}


nav.mobile > i{
	position: relative;
	top: 23px;
	cursor: pointer;
	font-size: 25px;
	color: white;
}


nav.mobile ul{
	display: none;
	z-index: 2;
	position: absolute;
	left: 0;
	width: 100%;
	top: 94px;
	background: white;
	list-style-type: none;
}

.content-header{
	position: relative;
	z-index: 1;
	max-width: 700px;
	margin:110px 0;
}

nav.mobile li{
	font-weight: lighter;
	border-bottom: 1px solid #444;
	text-align: center;
	padding:8px 0;
}

nav.mobile a{
	display: block;
	text-decoration: none;
	color: #444;
}

nav.desktop{
	margin-top: 20px;
	float: right;
}

nav.desktop ul{
	list-style-type: none;
}

nav.desktop li{
	display: inline-block;
	margin:0 15px;
	font-size: 17px;
	font-weight: lighter;
}

nav.desktop a{
	color: white;
	text-decoration: none;
}



.content-header h2{
	color: white;
	font-weight: lighter;
	font-size: 44px;
}

.content-header h2 > span{
	color: #2692FF;
}

.content-header p{
	color: white;
	margin-top: 18px;
	font-size: 16px;
	font-weight: lighter;
}

.content-header a{
	display: block;
	width: 237px;
	height: 44px;
	background: #2693FF;
	color: white;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	margin-top: 18px;
	border-radius: 20px;
}

.call-plans{
	width: 100%;
	text-align: center;
	padding:27px 2%;
	background: rgb(220,220,220);
}

.call-plans h2{
	display: inline-block;
	border-top: 2px solid #2692FF;
	color: #2692FF;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 25px;
}

.box-plans{
	padding:40px 0;
}

.box-plans > .center{
	display: flex;
	flex-wrap: wrap;
}

.box-plans-single{
	width: 33.3%;
	padding:0 40px;
}

.box-plans-wraper{
	width: 100%;
-webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	border:1px solid #ccc;
	min-height: 300px;
}


.box-plans-single h2{
	background: #2692FF;
	color: white;
	text-align: center;
	padding:3px;
	font-weight: lighter;
}

.points-plan{
	padding:8px 0 15px 0;
}

.price{
	margin-top: 10px;
	padding:15px 0;
	text-align: center;
}

.price h2{
	font-size: 24px;
	color: #777;
	padding:0 20px;
	background-color: transparent;
	display: inline-block;
	border-top: 1px solid #ccc;
}

.box-plans-single p{
	margin-left: 20px;
	color: #777777;
	font-size: 17px;
	margin-top:8px;
}

section.parallax{
	position: relative;
	width: 100%;
	padding:40px 0;
	min-height: 300px;
	background-image: url('../images/bg_parallax.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

section.parallax > .center{
	position: relative;
	z-index: 2;
	max-width: 960px;
	color: white;
}

section.parallax h2{
	text-align: center;
}
section.parallax p{
	margin-top: 15px;
}

.overlay-parallax{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(20,20,20,0.6);

}


section.final-section{
	padding:30px 0;
}

.w50{
	float: left;
	width: 50%;
	padding:0 20px;
	margin:30px 0;
}

section.final-section h2{
	position: relative;
	font-weight: lighter;
	color: #777777;
	font-size: 24px;
}

section.final-section h2 > .edge-effect{
	width: 50px;
	height: 2px;
	background: #777;
	position: absolute;
	transition: 0.4s;
}
section.final-section h2:hover > .edge-effect{
	width: 100px;
}

.contact form{
	margin-top: 15px;
}

.contact input:not([type=submit]){
	width: 100%;
	height: 40px;
	font-size: 15px;
	border:1px solid #ccc;
	display: block;
	padding-left: 8px;
	margin-top:10px;
}

.contact textarea{
	font-size: 15px;
	width: 100%;
	height: 120px;
	border:1px solid #ccc;
	padding: 8px;
	margin-top: 10px;
	resize: vertical;
}

.contact input[type=submit]{
	font-size: 15px;

	cursor: pointer;
	background: #2693FF;
	color: white;
	border:0;
	width: 100px;
	height: 33px;
	border-radius: 30px;
	margin-top:15px;
}

.team > .w50{
	width: 48%;
	margin:15px 1%;
}

.team-single{
	padding:10px 8px;
	border: 1px solid #ccc;
	min-height: 240px;
	padding-bottom: 30px;
	-webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
}

.topo-box-user{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}


.box-avatar{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ccc;
	vertical-align: middle;
	/*Apenas aplicar background image com a imagem que você quer!*/
}

.info-user{
	display: inline-block;
	color: #777;
	padding-left: 8px;
	vertical-align: middle;
}

.descricao-user-box{
	color: #999999;
	font-weight: lighter;
	font-size: 14px;
	margin-top: 10px;
}

footer{
	width: 100%;
	padding:10px 2%;
	text-align: center;
	color: white;
	background: #444;
}

@media screen and (max-width: 768px){
	nav.mobile{
		display: block;
	}
	nav.desktop{display: none;}
	.w50{
		width: 100%;
	}
	.team > .w50{
		width: 100%;
		margin:15px 0;
	}
	.box-plans-single{width: 100%;margin:10px 0;}
}