*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

body{
	background-color: #f7f5f5;
}

.center{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
}

header{
	padding: 30px 0;
}

.clear{clear: both;}

.logo{
	width: 20%;
	float: left;
}

.logo h2{
	color: #535b6c;
	font-size: 23px;
}

.menu{
	float: left;
	width: 	70%;
	text-align: center;
}

.menu a{
	margin: 0 30px;
	text-decoration: none;
	color: #aab3c2;
}

.menu a:hover{
	color: #535b6c;
}

.icons-menu{
	position: relative;
	float: right;	
	width: 10%;
	bottom: 30px;
}

.icons-menu a{
	margin: 0 10px;
}

.top-1{
	float: left;
	width: 60%;
}

.top-1 h3{
	color: #535b6c;
}

.top-1 h1{
	margin: 20px 0;
	color: #525dad;
	font-size: 56px;
}

.top-1 h1 > span{
	color: #f75915;
}

.top-1 p{
	color: #aab3c2;
}

.top-2{
	float: left;
	width: 40%;
}

.top-2 img{
	width: 100%;
	max-widthh: 100%;
}

.top-1 a{
	border-radius: 4px;
	background-color: #f75915;
	text-decoration: none;
	display: inline-block;
	padding: 8px 15px;
	color: white;
}

section.services{
	padding: 40px 0;
}

.call-services{
	margin-top: 50px;
	text-align: center;
}

.call-services h4{
	font-size: 22px;
	color: #f75915;
}

.call-services{
	font-size: 16px;
	color: #535b6c;
}

.call-services h1{
	font-size: 55px;
	color: #525dad;
}

.description-services{
	display: flex;
	flex-wrap: wrap;
}

.img-services{
	width: 60%;
}

.img-services img{
	max-width: 100%;
}

.details-services{
	padding: 30px 30px;
	width: 40%;
}

.details-services h3{
	color: #535b6c;
	font-size: 26px;
	margin: 10px 0;
}

.details-services p{
	color: #9299a5;
	font-size: 14px;
}

.text-testimonial{
	float: left;
	width: 50%;
}

.text-testimonial h3{
	color: #535b6c;
	font-size: 33px;
	font-weight: normal;
	margin: 10px;
}

.text-testimonial h4{
	font-size: 22px;
	color: #9299a5;
}

.img-testimonial{
	float: left;
	width: 50%;
}

.img-testimonial img{max-width: 100%;}

.img-showcase{
	width: 100%;
	text-align: center;
}

.img-showcase img{
	max-width: 100%;
}

.form{
	max-width: 700px;
	margin: 30px auto;
}

.form input[type=text]{
	width: 100%;
	height: 40px;
	border: 1px soli #ccc;
	margin: 10px 0;
	padding-left: 10px;
}

.form input[type=submit]{
	width: 100%;
	background-color: #f75915;
	cursor: pointer;
	color: white;
	padding: 10px 15px;
	border: 0;
	width: 100%;
}

.form textarea{
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding: 10px;
}

footer{
	text-align: center;
	padding: 30px 0;
	color: #535b6c;
}

@media screen and (max-width: 768px){

	.menu{
		float: right;
	}

	.menu a{
		display: block;
		text-align: right;
		margin: 8px 10px;
	}

	.icons-menu{
		display: none;
	}

	.img-services,
	.details-services{
		width: 100%;
	}
	.top-2,
	.top-1{
		width: 100%;
		margin: 20px 0;
	}
}