*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header{
	width: 100%;
	height: 90vh;
	min-height: 800px;
	padding: 40px 2%;
	/*max-height: 700px;*/
	background-size: cover;
	background-position: center;
	background-image: url('../images/cover.png');
	font-weight: 300;
}

header nav{
	float: right;	
}

nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../images/menu.png');
	background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
	opacity: 1;
}

nav.mobile-menu ul{
	opacity: 0;
	transition: 1s;
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
}

nav.mobile-menu ul li{
	padding: 8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(230,230,230);
}

nav.mobile-menu ul li a{
	color: black;
	text-decoration: none;
}

header .logo{
	float: left;
	width: 165px;
	height: 35px;
	background-image: url('../images/logo.png')
}

header nav.desktop-menu ul{
	list-style-type: none;
}

header nav.desktop-menu li{
	float: left;
	padding: 0 20px;
}

header nav.desktop-menu li a{
	text-decoration: none;
	color: white;
}

.call1{
	max-width: 600px;
	float: right;
	margin: 200px 150px;
}

.call1 h2{
	font-weight: 300;
	font-size: 40px;
	color: white;
}

.call1 p{
	font-size: 15px;
	color: white;
	margin-top: 10px;
}

section.session1{
	width: 100%;
	background-color: black;
	padding: 0 2%;
	height: 500px;
}

section.session1 .container{
	max-width: 1000px; 
	height: calc(100% + 30px);
}

.text-session1{
	float: left;
	width: 50%;
	position: relative;
	left: 55px;
	margin-top: 60px;
	padding-left: 80px;
	color: white;
}

.text-session1 h2{
	font-size: 26px;
	font-weight: 300;

}

.text-session1 p{
	margin-top: 20px;
	font-size: 15px;
}

.text-session1 ul{
	font-size: 15px;
	list-style-position: outside;
	padding-left: 15px;
}

.text-session1 ul li{
	width: 100%;
	margin-top: 8px; 
}

.btn1-text{
	background-color: #0701a5;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
}

.device-session1{
	float: left;
	width: 50%;
	position: relative;
	top: -30px;
	height: 100%;
	background-image: url('../images/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.session2{
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	text-align: center;
}

.session2 .container{
	max-width: 1000px;
}

.session2 h2{
	color: #472663;
	font-weight: 300;
}

.session2 p{
	margin-top: 30px;
	max-width: 900px;
	display: inline-block;
}

.session2 img{
	position: relative;
	top: 70px;
	width: 100%;
	margin-top: 10px;
}

.session3{
	width: 100%;
}

.part1{
	color: white;	
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background-color: #1096FF;
}

.wraper-part1{
	max-width: 600px;
	float: right;
	padding-right: 30px;
}

.part1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.part1 p{
	font-size: 15px;
	line-height: 35px;
	margin-top: 10px;
}

.part2{
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background: white;
}

.about-author{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}

.title-author{
	float: left;
	width: 100%;
}

.wraper-title-author{
	float: left;
}

.title-author h2{
	padding-right: 20px;
}

.title-author .img-author{
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
	top: -4px;
	border-radius: 20px;
	background-color: green;
}

@media screen and (max-width: 830px){

	.call1{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin: 170px 0;
	}

	.call1 h2{
		font-weight: 300;
		font-size: 30px;
		padding: 0 0px;
		color: white;
	}

	.call1 p{
		font-size: 15px;
		color: white;
		margin-top: 10px;
	}
}

/*-- 768px = size iPad --*/

@media screen and (max-width: 768px){

header{
	width: 100%;
	height: auto;
	min-height: 90vh;
	padding: 40px 2%;
}

nav.desktop-menu{
	display: none;
}

nav.mobile-menu{
	display: block;
}

section.session1{
	padding: 40px 2%;
	height: auto;
	text-align: center;
}

.session1 .container{
	height: auto;
}

.text-session1{
	width: 100%;
	margin-top: 0;
	padding-left: 0;
	position: static;
	float: none;
	display: inline-block;
}

.text-session1 ul{
	display: inline-block;
	margin-top: 20px;
}

.texto-session1 ul li{
	float: none;
	text-align: left;
}

.btn1-text{
	display: inline-block;
}

.device-session1{
	display: none;		
}


.session2{
	padding-top: 40px;
}

}