.card{
  
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    1px 1px 4px rgba(0, 0, 0, 0.1);
     box-shadow:         1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .card-section{
    width: 19rem;
    padding:10px 10px 0 10px;
    border-radius: 0;
  }
  
  .card-section-content
  {
    width: 13rem;
    padding:10px 10px 0 10px;
    border-radius: 0;
  }
  
  .article-content{
    padding: 20px;
  }
  
  
  
  
  .sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  transition: 0.5s;
  overflow-x: hidden;
  
  white-space: nowrap;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:     4px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .sidenav a {
    padding: 8px 8px 10px 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .sidenav a span {
    white-space: pre-wrap;
  }
  
  #content{
    padding-left: 0;
  }
  
  #commentable{
    margin-top: 15px;
  margin-bottom: 15px;
  }
  
  main .sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }
  
  .material-icons,
  .icon-text {
  vertical-align: middle;
  }
  
  .material-icons {
  padding-bottom: 3px;
  margin-right: 10px;
  }
  
  #main {
  padding: 16px;
  margin-left: 190px;
  transition: margin-left 0.5s;
  }
  
  #toggle-icon{
  transition: margin-left 0.5s;
  margin-left: 200px;
  }
  
  
  
  
  a{
  text-decoration: none;
  }
  a:hover{
  text-decoration: none;
  }
  
  .profile-pic{
  border-radius: 100%;
  
  }
  .profile-pic-link{
  height: 60px;
  width: 80px;
  }
  
  .profile-pic-container{
  height: 60px;
  margin-bottom: 10px ;
  margin-right: 10px;
  }
  
  .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  
  
  
  #main > .container {
  padding: 60px 15px 0;
  }
  
  
  
  
  
  
  .footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  }
  
  code {
  font-size: 80%;
  }
  
  .button {
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 150px;
  }
  
  #divBusca{
  
  border:none;
  border-radius:15px;
  margin-right: 5%;
  height: 50%;
  width: 40%;
  }
  
  
  
  #txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  
  font-size:18px;
  border:none;
  height:32px;
  
  
  }
  
  /* section style */
  
  
  .card-img-top{
    border-radius: 0;
  }
  
  .card-img-top{
    height: 200px;
  
    object-fit: cover;
  }
  
  #list_modules{
    margin-bottom: 10px;
  
  
  } 
  
  
  
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
    padding-top: 15px;
    }
    .sidenav a {
    font-size: 18px;
    }
  }
  
  @media(max-width:540px)
  {
  
      #mySidenav
      {
        width:65px;
      }
  
      #main{
        margin-left: 65px;
      }
  
      #toggle-icon{
        margin-left: 85px;
      }
  
      .material-icons{
        margin: 0px 25px 0px 9px;
      }
  
      .section-name span
      {
        display: none;
      }
  
      .sidenav a:not(.d-flex) {
        justify-content: center;
      }
  
  
  }
  
  
  
  @media(max-width:375px){
  
    .card-section{
      width: 17rem;
    }
    .article-content{
  
      margin-top: 15px;
  
    }
    #articles{
      padding: 0;
    }
  
    #list_modules{
      padding-left: 0;
      margin-bottom: 10px;
    }
  
    
    .footer_container{
      margin-left: 65px;
    }
  
    .card-section-content
    {
        width: 15rem;
        padding:10px 10px 0 10px;
        border-radius: 0;
    }
  
    
  
  
  
  
  
  
  }
  
  @media (max-width: 646px) {
    #divBusca{
       display: none !important;
    }
   }
   
  /* .card{
    width: 19rem;padding:10px 10px 0 10px;border-radius: 0
  }
  
  
  .card-text{
    height: 50px;
    display: block; display: -webkit-box; max-width: 19rem; -webkit-line-clamp: 2; -webkit-box-orient: vertical; 
    overflow: hidden; text-overflow: ellipsis;
  }
  
  .article-content{
    margin-top: 30px;padding: 20px;
  }
  
  .article-content a{
    text-decoration: none;
  } */
  
