.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.content .img{
    width: 550px;
    height: 420px;
}

.proceeds h3{
    font-size: 42px;
}

.checklists{
    display: flex;
    align-items: center;
}

.checklists img{
    width: 80px;
    margin-left: -20px;
}

.checklists p{
    font-size: 12px;
    width: 350px;
    padding: 20px 0;
    text-align: left;
}

.btn-content{
    background-color: #0F3FD3;
    text-transform: uppercase;
    color: #fff;
    border: unset;
    padding: 12px 32px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-content:hover{
transform: scale(1.1, 1.1);
box-shadow: 0px 20px 40px #2423423f;

}

@media screen and (max-width: 768px) {
    .content{
        justify-content: center;
    }

    .proceeds h3{
        font-size: 30px;
        text-align: center;
    }

    .content .img{
        width: 350px;
        height: 220px;
    }

    .checklists img{
        margin: 0;
    }

    .checklists p{
        font-size: 12px;
        width: 300px;
        padding: 20px 0;
        text-align: left;
    }

    .proceeds{
        text-align: center;
    }

}