footer{
    width: 100%;
    background-color: #0F3FD3;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

@media screen and (max-width: 964px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer > .nav-items{
        display: none;
    }
}

.footer p{
    color: #fff;
}

.btn-footer{
    background-color: #04195b;
    color: #fff;
    border: unset;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-footer:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0px 20px 40px #2423423f;
}