.testimonial{
    text-align: center;
    width: 31%;
    margin: 2%;
    border-radius: 10px;
    padding: 50px 20px;
    background: #FBFCFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2423423f;
}

.testimonials h2{
    display: block;
   text-align: center;
    font-size: 40px;
}

.testimonials-single{
    display: flex;
    padding-top: 40px;
}

.testimonials-single span{
    display: block;
    color: #7E92AC;
    font-size: 10px;
    padding: 10px 0;
}

.testimonials-single p{
    color: #7E92AC;
    font-size: 12px;
    padding: 20px 0;
    line-height: 20px;
}

@media screen and (max-width: 964px) {
    .testimonial{
       width: 100%;
       align-items: center;
    }
    .testimonials-single{
        flex-direction: column;
        max-width: 350px;
    }
}