<!DOCTYPE html>
<html>
<head>
	<title>Register Customer</title>
	<meta charset="uft-8" />
</head>
<body>
<h2>Register Customers!</h2>
	<form method="post">
		<input placeholder="Name..." type="text" name="name">
		<input placeholder="Surname..." type="text" name="surname">
		<input placeholder="Company..." type="text" name="company">
		<input type="submit">
	</form>
</body>
</html>