*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html,body{
	height: 100%;
}

.clear{clear: both;}

/* Auxiliar Classes */

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.w50{
    float: left;
    width: 50%;
    padding: 0 10px;
}

.w100{
    float: left;
    width: 100%;
    padding: 0 10px;
}


/* Own Style */

body{
    background: rgb(225,225,225);
}

h2{
    text-align: center;
    color: #4286f4;
    padding: 10px 0;
    font-size: 24px;
    border-bottom: 2px solid #4286f4;
    text-transform: uppercase;
}

.form-group label{
    display: block;
    margin: 8px 0;
    color: #646464;
}

.form-group input[type=text]{
    width: 100%;
    padding-left: 8px;
    height: 40px;
    margin-top: 6px;
    border: 1px solid #ccc;
}

.form-group input[type=submit]{
    width: 140px;
    height: 40px;
    background: #4286f4;
    color: white;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
}

.form-group textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 10px;
}

@media screen and (max-width: 500px){
    .w50{width: 100%;}
}