*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** General Classes - Framework **/

.text-white{
	color: white;
}

.gold{
	background-color: gold;
}

.light-blue{
	background-color: #00A3D9;
}

section.container{
	width: 100%;
}

div.flex{
	display: flex;
	max-width: 960px;
	padding: 0 2%;
	margin: 0 auto;
	flex-wrap: wrap;
}

div.w50{
	width: 50%;
}

div.w33{
	width: 33.3%;
}

div.w100{
	width: 100%;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.order1{
	order: 1;
}

.order2{
	order: 2;
}

.order3{
	order: 3;
}

@media screen and (max-width: 768px){


	div.w50,div.w33{
		width: 100%;
	}	

	.left,.right,.center{
		margin-top: 30px;
		text-align: center;
	}
}