*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ccc;
}

.header{
  background-color: white;
  padding: 10px 0;
  display: flex;
}

.headerLeft{
  width: 50%;
  flex-direction: row;
  display: flex;
}

.logo-fb svg{
  color: #4287f5;
  font-size: 40px;
  margin: 0 10px;
}

.search-fb{
  background-color: rgb(230,230,230);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.search-fb svg{
  color: gray;
  font-size: 15px;
}

.menu-fb{
  cursor: pointer;
  margin-left: 25px;
  position: relative;
  padding: 8px 10px;
  border-radius: 10%;
}

.menu-fb:hover{
  background-color: rgb(200,200,200);
}

.menu-fb svg{
  color: gray;
  font-size: 25px;
}

.headerRight{
  width: 50%;
  text-align: right;
  margin: 0 20px;
}

.plus-btn{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(230,230,230);
  text-align: center;
  line-height: 36px;
  font-size: 28px;
  cursor: pointer;
  margin: 0 4px;
}

.messenger-btn{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(230,230,230);
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  cursor: pointer;
  margin: 0 4px;
}

.notification-btn{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(230,230,230);
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  cursor: pointer;
  margin: 0 4px;
}

.caretdown-btn{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(230,230,230);
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  cursor: pointer;
  margin: 0 4px;
}

.stories{
  display: flex;
  margin: 10px 0;
}

.storiesCard{
  width: 19%;
  margin-right: 1%;
  padding-top: 25%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.storiesCard p{
  color: white;
  font-size: 14px;
  padding: 10px;
}

.feed{
  background-color: white;
  padding: 10px;
}

.feedForm{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.feedForm img{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.feedForm input{
  position: relative;
  top: -8px;
  margin-left: 2%;
  width: calc(98% - 40px);
  height: 50px;
  background-color: rgb(240,240,240);
  border-radius: 20px;
  padding-left: 20px;
  font-size: 15px;
  border: 0;
}

.feedForm input:focus{
  outline: 0;
}

.feedIcons{
  padding: 20px 40px;
  display: flex;
} 

.iconSingle{
  width: 33.3%;
  text-align: center;
}

.iconSingle svg{
  vertical-align: middle;
  font-size: 25px;
  color: #f02849;
}

.iconSingle.img svg{
  color: #45bd62;
}

.iconSingle.emoji svg{
  color: #f7b928;
}

.iconSingle span{
  font-weight: bold;
  color: gray;
  margin: 0 10px;
}

.feedPostSingle{
  margin-left: 20px 0;
  background-color: white;
}

.feedPost__profile{
  padding: 10px;
}

.feedPost__profile h3{
  display: inline-block;
  vertical-align: middle;
  padding: 8px 10px;
}

.feedPost__profile h3 > span{
  font-weight: normal;
  font-size: 15px;
}

.feedPost__profile img{
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
}

.feedPost__content p{
  margin-left: 10px;
  margin-bottom: 10px;
}

.feedPost__content img{
  width: 100%;
  display: block;
}