*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header div.logo{
    float: left;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 40px;
}

nav.mobile{
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url('../images/icon_menu.png');
    display: none;
}

nav.mobile ul{
    display: none;
    width: 100%;
    left: 0;
    top: 110px;
    border-bottom: 4px solid #EB2D2D;
    z-index: 999;
    position: absolute;
    text-align: center;
    background-color: white;
}

nav.mobile li{
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

nav.mobile li a{
    color: black;
    text-decoration: none;
}

header nav.desktop ul{
    list-style-type: none;  
}

header nav.desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;    
    font-style: italic;
}

header nav.desktop a{
    color: black;
    text-decoration: none;
}

section.banner{
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 70px;
}

.text-banner-single{
    width: 314px;
    font-style: italic;
    margin-top: 30px;
    padding-left: 50px;
    height: 70px;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(1){
    position: relative;
    left: -60px;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 200px;
    height: 50px;
    position: relative;
    left: -70px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 170px;
    height: 50px;
    position: relative;
    left: -80px;
}

.text-banner .text-banner-single:nth-of-type(4){
    width: 360px;
    height: 50px;   
    font-size: 21px;
    color: black;
    position: relative;
    left: -90px;
    background-image: url('../images/box-white-text.png');
}

section.featured-vehicles{
    padding: 90px 2%;
}

section.featured-vehicles .container{
    max-width: 1000px;
    padding: 40px 0;
}

/* HERE, IT IS THE FEATURED SHOWCASE OF THE HOME WEBSITE */

.line-title{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.ln1{
    position: absolute;
    height: 2px;
    width: 100%;
    top: 20px;
    background: black;
}

/* FINAL OF THE FEATURED SHOWCASE OF THE HOME WEBSITE */


.line-title h2{
    position: relative;
    background: white;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    padding: 0 20px;
    font-style: italic;
    text-transform: uppercase;
}

.featured-showcase{
    float: left;
    width: 33.3%;
}

.featured-showcase .car-img{
    width: 100%;
    padding-top: 100%;
    border: 8px solid white;
    background-size: 100% 100%;
}

.featured-showcase h2{
    padding: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.featured-showcase p{
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}

.btn1{
    text-align: center;
    display: block;
    background-color: #EB2D2D;
    text-decoration: none;
    border-bottom: 5px solid #B21E1E;
    color: white;
    font-size: 16px;
    font-style: italic;
    line-height: 40px;
    width: 150px;
}

.featured-showcase a{
    margin-left: 8px;
    margin-top: 10px;
}

.services-description{
    display: flex;
}

.half1{
    width: 50%;
    text-align: right;
    padding: 90px 0;
    background: #242424;
    color: white;
}

.half1-wraper{
    padding-right: 20%; 
    text-align: left;
    display: inline-block;  
}

.half1-wraper h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half1-wraper ul{
    display: inline-block;
    margin-top: 20px;
}

.half1-wraper li{
    margin-left: 15px;
}

.half1-wraper a{
    margin-left: 40px;
    display: inline-block;  
    vertical-align: bottom;
}

.half2{
    width: 50%;
    padding: 90px 100px;
    background: #EB2D2D;
    color: white;
}

.half2 h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half2 .client-single{
    margin-top: 19px;
}

.client-single p{
    font-size: 22px;
}

.navigation{
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

.arrows{
    float: left;
}

.navigation img{
    cursor: pointer;
    margin: 0 20px;
}

.name-client{
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contact{
    padding: 80px 2% 0 2%;
}

section.contact form{
    max-width: 600px;
    margin: 30px auto;
}

section.contact .input-wraper{
    float: left;
    padding: 10px;
    margin-top: 7px;
}

section.contact input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
}

section.contact textarea{
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    height: 140px;
    padding: 8px;
    resize: none;
}

section.contact form .input-wraper:nth-of-type(5){
    text-align: center;
}

section.contact input[type=submit]{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: pointer;
    display: inline-block;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

footer{
    margin-top: 20px;
    padding: 40px 2%;
    background: #252525;
}

footer nav{
    float: left;
}

footer nav ul{
    list-style-type: none; 
}

footer nav ul li{
    float: left;
    font-style: italic;
    padding: 0 35px;
    font-size: 19px;
}

footer nav ul a{
    color: white;
    text-decoration: none;
}

footer p{
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}

section.sale{
    padding: 90px 2%;
    min-height: 90%;
}

.content-sale{
    margin-top: 40px;
}

.sidebar{
    float: left;
    width: 30%;
}

.search1{
    width: 90%;
}

.search1 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.search1 .bar-price{
    width: 100%;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-radius: 20px;
    position: relative;
}

.bar-price-fill{
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}

.pointer-bar{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    top: -3px;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
    border: 1px solid #777;
}

.value-search{
    margin-top: 8px;
}

.value-search p{
    color: black;
    font-size: 15px;
}

.value-search p:nth-of-type(1){
    float: left;
}


.value-search p:nth-of-type(2){
    float: right;
}

.search2{
    margin-top: 40px;
}

.search2 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.form-sale-wraper{
    margin-top: 10px;
}

.form-sale-wraper input[type=checkbox]{
    display: none;
}

.form-sale-wraper label{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.circle{
    width: 8px;
    height: 8px;
    display: none;
    border-radius: 4px;
    background: black;
    position: absolute;
    left: 6px;
    top: 6px;
}


.form-sale-wraper input[type=checkbox]:checked + label > .circle{
    display: block;
}


.form-sale-wraper span{
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}

.featured-sale{
    float: left;
    width: 70%;
}

.featured-sale .featured-showcase{
    margin-top: 20px;
}

section.sale-single {
    padding: 80px 2% 0 2%;
}

section.sale-single .container{
    padding: 40px 0 0 0;
    text-align: center;
    max-width: 1280px;
}

.info-vehicle{
    display: inline-block;
    width: 60%;
}    

.featured-photo{
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.description-vehicle{
    vertical-align: top;
    display: inline-block;
    padding: 60px 20px;
    text-align: left;
}

.description-vehicle p{
    font-size: 17px;
    margin-top: 25px;
    max-width: 200px; 
}

.description-vehicle a{
    margin-top: 25px;
}

.nav-gallery-parent{
    width: 100%;
    padding: 36px;
    position: relative;
}

.arrow-left-nav{
    position: absolute;
    left: 8px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url('../images/arrow-left.png');
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}

.arrow-right-nav{
    position: absolute;
    right: 8px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url('../images/arrow-right.png');
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}

/* Applying breadcrumb */

.info-bread{
    padding: 20px 0;
    text-align: left;
}

.info-bread a{
    text-decoration: none;
    color: black;
}

.info-bread a:last-child{
    color: red;
}

.info-bread span{
    padding: 0 30px;
}

/****/

.nav-gallery{
    overflow: hidden;
    width: 100%;
}

.nav-gallery-wraper{
    /* 
        USING JAVASCRIPT => WIDTH
    */
}

.mini-img-wraper{
    float: left;
    padding: 9px;
    
    /*
        USING JAVASCRIPT => WIDTH
    */
}

.mini-img{
    width: 100%;
    padding-top: 70%;
    cursor: pointer;
    background-position: center; 
    background-size: cover;
    background-color: green;
}

section.about{
    min-height: 90%;
    padding: 60px 2% 20px 2%;
}

section.about .container{
    max-width: 840px;
    margin-top: 30px;
}

section.about .img-featured-about{
    width: 100%;
    padding-top: 60%;
    background-color: rgb(220,220,220);
}

section.about .description-author{
    margin-top: 20px;
}

.description-author h2{
    font-size: 24px;
}

.description-author p{
    line-height: 28px;
    font-size: 16px;
    margin-top: 10px;
}

.description-author2{
    margin-top: 40px;
}

.img-small{
    width: 30%;
    padding-top: 30%;
    float: left;

    /* ONLY SUBSTITUTE ABOVE THE IMAGE THAT YOU WANT! */

    background-image: url('');

    /*
    background-position: center;
    background-size: 100% 100%;
    */
    
    background-color: rgb(220,220,220);
}

.description-author2 p{
    float: left;
    width: 70%;
    line-height: 28px;
    padding: 15px;
}

@media screen and(max-width: 1100px){

    .half1{
        text-align: center;
    }

    .half1.wraper{
        text-align: left;
        padding-right: 0;
    }

    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }

    .name-client{
        float: left;
        width: 100%;
        margin: 20px 20px;
    }
}

@media screen and(max-width: 900px){

    .name-client{
        float: left;
        width: 100%;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 768px){

    footer nav{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer p{
        float: none;    
    }

    .w50{
        width: 100%;
    }

    .name-client{
        float: right;
        width: auto;
        margin: 0px 0px;
    }

    section.services-description{
        flex-direction: column;
    }

    .half1,.half2{
        padding: 80px 4%;
        width: 100%;
    }

    section.banner{
        background-size: cover;
        background-position: 100px center;
        height: 80vh;
    }

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .sidebar{
        width: 100%;
        text-align: center;
    }

    .search1{
        display: inline-block;
    }

    .search2{
        text-align: left;
        display: inline-block;
    }

    .featured-sale{
        text-align: center;
        width: 100%;
    }

    .info-vehicle{
        width: 100%;
    }

    .description-vehicle{
        padding: 20px 0;
        text-align: center;
    }

    .description-vehicle a{
        display: inline-block;
    }

    .description-vehicle p{
        max-width: none;
    }

}

@media screen and (max-width: 580px){

    .text-banner{
        padding: 30px;
    }

    .text-banner-single{
        height: 50px;
        width: 240px; 
        font-size: 18px;
    }

    .text-banner .text-banner-single:nth-of-type(4){
        position: absolute;
        width: 350px;
        left: 2px;
    }

    section.featured-vehicles .line-title h2{
        font-size: 23px;
    }

    section.featured-vehicles .container{
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }

    .featured-showcase{
        display: inline-block;
        float: none;
        width: 80%;
        margin-top: 20px;
    }

    .featured-showcase a{
        display: inline-block;
    }

    .img-small{
        width: 100%;
        padding-top: 100%; 
    }

    .description-author2 p{
        width: 100%;
        padding: 20px 0;
    }

}

@media screen and (max-width: 480px){
    .featured-showcase{
        width: 100%;
    }
}