*{
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(220,220,220);
}

.center{
  display  : flex;
  margin   : 0 auto;
  padding  : 0 2%;
  max-width: 1100px;
}

.header{
  padding         : 10px 0;
  background-color: white;
  border-bottom   : 2px solid rgb(230,230,230);
}

.header__logo{
  width: 50%;
}

.header__loginForm{
  width     : 50%;
  text-align: right;
}

.header__loginForm form{
  display: inline-block;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  width       : 180px;
  margin-right: 5px;
  height      : 20px;
  border      : 1px solid #ccc;
  padding-left: 10px;
}

.header__loginForm input[type=submit]{
  background-color: #0095f6;
  color           : white;
  border          : 0;
  height          : 20px;
  padding         : 4px 10px;
  cursor          : pointer;
  border-radius   : 10px;
  font-size       : 14px;
}

.btn__createAccount{
  display: inline-block;
}

.btn__createAccount a{
  font-size: 14px;
  margin   : 0 10px;
}

.header__loggedInfo{
  text-align: right;
  width     : 50%;
}

.header__loggedInfo a{
  margin          : 0 10px;
  background-color: #0095f6;
  color           : white;
  text-decoration : none;
  padding         : 3px 10px;
  cursor          : pointer;
  border-radius   : 10px;
  font-size       : 14px;
}

.modalCreateAccount{
  display         : none;
  position        : fixed;
  left            : 0;
  top             : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0,0,0,0.5);
}

.formCreateAccount{
  position        : absolute;
  left            : 50%;
  top             : 50%;
  transform       : translate(-50%,-50%);
  background-color: white;
  padding         : 20px;
  width           : 80%;
  max-width       : 700px;
  text-align      : center;
}

.formCreateAccount input{
  width        : 100%;
  height       : 30px;
  margin-bottom: 10px;
  padding-left : 10px;
  border       : 1px solid #ccc;
}

.formCreateAccount input[type=submit]{
  background-color: #0095f6;
  cursor          : pointer;
  color           : white;
}

.close-modal-create{
  position        : absolute;
  right           : -10px;
  top             : -10px;
  cursor          : pointer;
  width           : 30px;
  text-align      : center;
  color           : white;
  line-height     : 30px;;
  height          : 30px;
  border-radius   : 15px;
  background-color: #0095f6;
}

.modalUpload{
  display         : none;
  position        : fixed;
  left            : 0;
  top             : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0,0,0,0.5);
}

.formUpload{
  position        : absolute;
  left            : 50%;
  top             : 50%;
  transform       : translate(-50%,-50%);
  background-color: white;
  padding         : 20px;
  width           : 80%;
  max-width       : 700px;
  text-align      : center;
}

.formUpload input{
  width        : 100%;
  height       : 30px;
  margin-bottom: 10px;
  padding-left : 10px;
  border       : 1px solid #ccc;
}

.formUpload input[type=submit]{
  background-color: #0095f6;
  cursor          : pointer;
  color           : white;
}

.close-modal-create{
  position        : absolute;
  right           : -10px;
  top             : -10px;
  cursor          : pointer;
  width           : 30px;
  text-align      : center;
  color           : white;
  line-height     : 30px;;
  height          : 30px;
  border-radius   : 15px;
  background-color: #0095f6;
}

.postSingle{
  padding-bottom: 40px;
  background-color: white;
  max-width       : 700px;
  margin          : 10px auto;

}

.postSingle img{
  width: 100%;
}

.postSingle p{
  padding: 10px;
}

.postSingle form{
  padding: 20px;
}

.postSingle textarea{
  width  : 100%;
  height : 120%;
  border : 1px solid #ccc;
  padding: 10px;
}

.postSingle input[type=submit]{
  background-color: #0095f6;
  cursor          : pointer;
  color           : white;
  border          : 0;
  padding         : 8px 10px;
}

.comments{
  margin-left: 20px;
}

.comments h2{
  border-bottom: 1px solid #4b4b4b;
  padding: 8px 0;
  color: #4b4b4b;
}

.comment-single p{
  font-size: 14px;
}