*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blueviolet;
}

.boxAnnotations{
  width: 80%;
  max-width: 800px;
  background-color: white;
  padding: 30px 50px;
  margin: 10px auto;
  border-radius: 10px;
}

.boxTasks h2{
  text-align: center;
  margin-bottom: 30px;
}

.taskSingle{
  font-size: 15px;
  padding: 8px 10px;
  border-bottom: 2px dotted #ccc;
  display: flex;
}

.taskSingle p{
  cursor: pointer;
  width: 80%;
}

.taskSingle span{
  cursor: pointer;
}

.addTask{
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: indigo;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}

.modalContent{
  max-width: 600px;
  padding: 40px 20px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}