/*
	This is a reset for my document
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana;
}

/*
	Boot CSS
*/

.container{
	margin: 0 auto;
	max-width: 960px;
	padding: 0 2%;
}
/*
	Menu Style
*/

nav{
	background: #448aff;
	padding: 10px 0;
	text-align: center;
}

nav ul{
	list-style-type: none;
}

li.menu-item{
	display: inline-block;
	margin: 0 10px;
}

li.menu-item > a{
	text-decoration: none;
	color: white;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: #2962ff;
	text-align: center;
	color: white;
}

.my-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 230px;
	height: 100px;
	color: white;
	background: #00e676;
	border: 0;
	font-size: 25px;
	cursor: pointer;
}